/* Fonts */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Components */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", system-ui, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #222;
}

.mainmenulist {
  display: flex;
  gap: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.langlist {
  display: flex;
  gap: 8px;
}

/* Hover states */
.mainmenulist a:hover,
.mainmenulist a:focus {
  color: #222;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Media queries */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    margin: 0 auto;
  }

  .container {
    height: 100%;
    padding: 0px 0px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    height: 100%;
    padding: 0px 0px;  
    margin: 0 auto;
  }

  .container-header {
    max-width: 1520px;
    /* margin: 0 auto; */
    
  }

  .container-hero {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
  }
}
