/* Fonts */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color1: #222222;
  --main-color2: #fdc708;
  --main-color3: #ffffff;
}

body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Media queries mobile */
@media screen and (min-width: 320px) and (max-width: 1440px) {
  .container {
    max-width: 320px;
  }
}

/* Media queries desktop */
@media screen and (min-width: 1440px) {
  /* ----------------------section general---------------------- */

  .container {
    max-width: 1440px;
    height: 100%;
    padding: 0px 0px;
    margin: 0 auto;
  }

  /* ----------------------section header + menu---------------------- */

  .container-header {
    max-width: 1040px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #222;
  }

  .logo_text {
    font-size: 16px;
  }

  .mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .mainmenulist {
    display: flex;
    gap: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }

  .mainmenulist a:hover,
  .mainmenulist a:focus {
    color: #222;
    opacity: 0.8;
    transition: all 0.3s ease;
  }

  .langlist {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    gap: 4px;
  }

  .langlist_active {
    color: var(--main-color2);
    opacity: 0.8;
  }

  /* ----------------------section hero---------------------- */
  .container-hero {
    background-color: var(--main-color1);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }

  .hero_text_block {
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
  }

  .hero_title {
    font-weight: 700;
  }

  .hero_name_first {
    display: block;
    font-size: 96px;
    letter-spacing: -0.05em;
    color: var(--main-color2);
  }

  .hero_name_last {
    display: block;
    font-size: 146px;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .hero_subtitle1 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: 48px;
  }

  .hero_subtitle2 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
  }

  .button_contact {
    margin-top: 96px;
    display: flex;
    gap: 46px;
  }

  .cta-button {
    background-color: var(--main-color2);
    width: 518px;
    height: 80px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding: 32px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .contact_list {
    display: flex;
    gap: 16px;
    margin-left: 48px;
    align-items: end;
  }

  .hero_img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    max-width: 396px;
    max-height: 750px;
  }

  /* ----------------------section counter---------------------- */

  .container_count {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .countlist {
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .countlist_item {
    width: 242px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .countlist_number_block_top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .countlist_number {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: var(--main-color2);
    line-height: 1;
  }

  .countlist_number_plus {
    font-weight: 500;
    font-size: 20px;
    color: var(--main-color2);
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .countlist_text {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 8px;
  }

  /* ----------------------section about-------------------------------------- */
  .container-about {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 220px;
  }

  .acquaintance_block_main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 64px;
  }
  .acquaintance_title_text {
    font-weight: 500;
    font-size: 90px;
    letter-spacing: -0.05em;
  }
  .acquaintance_title_text1 {
    display: block;
    color: var(--main-color1);
    margin: 0;
    padding: 0;
  }

  .acquaintance_title_text2 {
    display: block;
    color: var(--main-color2);
    margin: 0;
    padding: 0;
  }

  .acquaintance_block_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .arrow_black {
    transform: rotate(180deg);
  }

  .content_block {
    text-transform: uppercase;
    display: flex;

    margin-top: 48px;
    gap: 32px;
  }

  .about_block_left {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
  }

  .profile_text_header {
    margin-top: 0;
  }

  .profile_name {
    font-weight: 700;
  }

  .profile_text_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .profile_text_list li {
    line-height: 1.5;
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--main-color1);
  }

  .profile_image {
    max-width: 508px;
    max-height: 625px;
  }

  /* ----------------------section whatmywork---------------------- */

  .container_whatmywork {
    background-color: var(--main-color1);
  }

  .whatmywork_title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    max-width: 1038px;
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .whatmywork_title_text {
    font-weight: 500;
    font-size: 90px;
  }
  .whatmywork_title_white {
    color: #fff;
  }

  .whatmywork_title_yellow {
    color: var(--main-color2);
  }

  .service_block_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .service_block_right_text {
    color: var(--main-color2);
  }

  .whatmywork_content {
    padding-bottom: 64px;
    position: relative;
  }

  .whatmywork_list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1038px;
    color: var(--main-color3);
  }

  .whatmywork_list li {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
  }

  .whatmywork_point {
    margin-right: 8px;
  }

  .whatmywork_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
  }

  .cta-button_whatmywork {
    margin-bottom: 32px;
  }

  .whatmywork_text {
    max-width: 504px;
    color: var(--main-color3);
    font-weight: 400;
    font-size: 16px;
    line-height: 124%;
  }

  .whatmywork_photo {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    z-index: 1;
  }

  /* ----------------------section format---------------------- */

  .container_format {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 200px;
  }

  .format_title {
    display: flex;
    max-width: 1038px;
    justify-content: space-between;
    padding-bottom: 64px;
  }

  .format_title_text {
    font-weight: 500;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  .format_title_white {
    color: var(--main-color1);
  }

  .format_title_yellow {
    color: var(--main-color2);
  }

  .format_subtitle {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  .format_subtitle_logo {
    transform: rotate(180deg);
  }

  .format_subtitle_left {
    display: flex;
    align-items: center;
  }

  .format_subtitle_text {
    margin: 12px 12px;
  }

  .format_subtitle_right_text1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: right;
    color: var(--main-color1);
  }

  .format_subtitle_right_text2 {
    font-weight: 400;
    font-size: 24px;
  }

  .format_list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 24px;
  }

  .format_list_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .format_list_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 508px;
  }

  .format_list_title {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--main-color1);
  }

  .format_list_text_description {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: var(--main-color1);
  }

  .format_list_number {
    font-weight: 300;
    font-size: 32px;
    letter-spacing: -0.05em;
    color: var(--main-color1);
  }

  .format_list_line {
    width: 100%;
    height: 1px;
    background-color: var(--main-color1);
  }

  .format_info {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color1);
    margin-top: 24px;
    margin-bottom: 100px;
  }

  /* ----------------------section generalRules---------------------- */

  .generalRules_container {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }

  .generalRules_title {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -0.05em;
    color: var(--main-color1);
    padding-right: 150px;
  }

  .generalRules_list_item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 48px;
  }

  .generalRules_list_item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--main-color2);
  }

  .generalRules_list_item h3 {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 400;
  }

  .generalRules_list_item p {
    margin: 0;
    line-height: 1.5;
  }

  .generalRules_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* ----------------------section biggerAchievements_container---------------------- */

  .biggerAchievements_container {
    max-width: 1440px;
    height: 585px;
    /* margin: 0 auto; */
    /* padding-top: 100px;
    padding-bottom: 100px; */
    /* display: flex; */
    background: url(/src/img/photo/biggerAchievements_background_x1.jpg) center
      center/cover no-repeat;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .biggerAchievements_container {
      background: url(/src/img/photo/biggerAchievements_background_x2.jpg)
        center center/cover no-repeat;
    }
  }

  .biggerAchievements_main {
    padding-top: 132px;
    padding-left: 196px;
  }

  .biggerAchievements_title {
    color: var(--main-color3);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2px;
  }

  .biggerAchievements_content {
    max-width: 488px;
    padding-top: 64px;
    align-self: stretch;
    color: var(--main-color3);
    text-align: justify;
  }

  .biggerAchievements_text {
    padding-bottom: 24px;
    font-weight: 400;
  }

  .biggerAchievements_button{
    max-width: 100%;
  }

  .arrow_black_biggerAchievements {
    transform: rotate(360deg);
    padding-left: 10px;

  }
}
